<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="topics" value="
          /camera/infra1/image_rect_raw
          /camera/orthogonal
          /imu/9dof
          /tf02/data
          /baro/data
          /ublox/fix
          /ublox/fix_velocity
          /ublox/navpvt
          /mavros/rc/out
        "/>

    <!-- START SENSORS -->
    <include file="$(find visiondrone)/launch/subsystems/sensors.launch"/>

    <!-- START REALSENSE CAMERA -->
    <include file="$(find visiondrone)/launch/subsystems/rs_d435i_ir.launch"/>

    <!-- START PI CAMERA MODULE -->
    <include file="$(find visiondrone)/launch/subsystems/pi_camera.launch"/>

    <!-- GPS INJECTION -->
    <node pkg="gps_injection" type="gps_injection_node" name="gps_passthrough" output="screen" required="true">
        <param name="enable_injection" value="false"/>
    </node>

    <!-- RECORD ROSBAG -->
    <node pkg="rosbag" type="record" name="data_capture" required="true"
          args="$(eval 'record --tcpnodelay --buffsize 0 -O
          /media/usb/rosbags/' + raw_input('Enter rec file name: ') + '.bag' +
          arg('topics'))"/>

    <!-- AUTOMATED PREFLIGHT CHECKLIST -->
    <node type="pfchecklists.py" name="pfchecklist" pkg="visiondrone" output="screen">
        <param name="topics" value="$(arg topics)"/>
    </node>
</launch>
