<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- START SENSORS -->
    <include file="$(find visiondrone)/launch/subsystems/sensors.launch"/>

    <!-- START REALSENSE CAMERA -->
    <include file="$(find visiondrone)/launch/subsystems/rs_d435i_ir.launch"/>

    <!-- START PI CAMERA MODULE -->
    <include file="$(find visiondrone)/launch/subsystems/pi_camera.launch"/>

    <!-- RECORD ROSBAG -->
    <node pkg="rosbag" type="record" name="data_capture" required="true"
          args="$(eval 'record --tcpnodelay --buffsize 0 -O /media/usb/rosbags/' + raw_input('Enter rec file name: ') + '.bag
          /camera/infra1/image_rect_raw
          /camera/orthogonal
          /imu/9dof
          /ublox/fix
          /ublox/fix_velocity
          /mavros/imu/static_pressure
          /mavros/rc/out
       ')"/>
</launch>
