<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- START SENSORS -->
    <include file="$(find visiondrone)/launch/subsystems/sensors.launch"/>

    <!-- GPS injector and switcher -->
    <node pkg="gps_injection" type="gps_injection_node" name="gps" output="screen" required="true"/>

    <!-- MAP GPS LOCATION TO LOCAL -->
    <include file="$(find visiondrone)/launch/processing/gps_to_local.launch"/>
</launch>