<robot name="drone">
    <link name="base_link">
        <visual>
            <origin rpy="1.57 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://visiondrone/rviz/drone.stl" scale="0.01 0.01 0.01"/>
            </geometry>
            <material name="blue">
                <color rgba=".2 .2 .2 1"/>
            </material>
        </visual>
    </link>
</robot>