<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- START SENSORS -->
    <include file="$(find visiondrone)/launch/subsystems/sensors.launch"/>

    <!-- START PI CAMERA MODULE -->
    <include file="$(find visiondrone)/launch/subsystems/pi_camera.launch"/>

    <!-- Optical flow -->
    <include file="$(find visiondrone)/launch/localizers/optical_flow_opencv.launch"/>

    <!-- MAP GPS LOCATION TO LOCAL -->
    <node pkg="geonav_transform" type="geonav_transform_node" name="gps_to_local" required="true">
        <param name="pub_odom" value="/ublox/fix/local"/>
        <param name="sub_fix" value="/ublox/fix_tracking"/>
        <param name="odom_frame_id" value="map"/>
    </node>

    <node type="local2gps.py" name="local_2_gps" pkg="gps_injection">
        <param name="pose" value="/estimate/pose"/>
        <param name="velocity" value="/optical_flow/velocity_out"/>
    </node>

    <!-- GPS injector serial messages generator and switcher -->
    <node pkg="gps_injection" type="gps_injection_node" name="gps" output="screen"/>
</launch>
