<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- Drone TFs -->
    <include file="$(find visiondrone)/launch/processing/tf.launch"/>

    <!-- Height estimation -->
    <node pkg="height_estimation" type="height_estimation_node" name="height_estimation" output="screen"
          required="true">
        <param name="relative" value="true"/>
    </node>

    <!-- Dead reckoning -->
    <node pkg="dead_reckoning" type="dead_reckoning" name="dead_reckoning" required="true"/>

    <remap from="/estimate/velocity" to="/dead_reckoning/velocity_out"/>

    <!-- Velocity to position -->
    <node pkg="velocity_integrator" type="velocity_integrator_node" name="integrator" required="true"/>
</launch>
