<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- Drone TFs -->
    <include file="$(find visiondrone)/launch/processing/tf.launch"/>

    <!-- Height estimation -->
    <node pkg="height_estimation" type="height_estimation_node" name="height_estimation" output="screen"
          required="true">
        <param name="relative" value="true"/>
    </node>

    <!-- Motion_simulation -->
    <node pkg="motion_simulation" type="motion_simulation.py" name="motion_simulation" required="true" output="screen"/>

    <remap from="/estimate/velocity" to="/motion_simulation/velocity_out"/>

    <!-- Velocity to position -->
    <node pkg="velocity_integrator" type="velocity_integrator_node" name="optical_flow" required="true"/>
</launch>
