<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- Drone TFs -->
    <include file="$(find visiondrone)/launch/processing/tf.launch"/>

    <!-- Height estimation -->
    <node pkg="height_estimation" type="height_estimation_node" name="height_estimation" output="screen"
          required="true">
        <param name="relative" value="true"/>
    </node>

    <!-- Optical flow (image to velocity) -->
    <node name="estimate" pkg="nodelet" type="nodelet" args="standalone mrs_optic_flow/OpticFlow" output="screen">
        <rosparam file="$(find mrs_optic_flow)/config/default.yaml"/>

        <param name="enable_profiler" value="false"/>

        <param name="camera_frame" value="orthogonal_camera"/>
        <param name="uav_frame" value="camera_imu_optical_frame"/>

        <param name="FftCLFile" value="$(find mrs_optic_flow)/FftMethod.cl"/>
        <param name="useOCL" value="false"/>
    </node>

    <!-- Velocity to position -->
    <node pkg="velocity_integrator" type="velocity_integrator_node" name="optical_flow" required="true"/>
</launch>
