<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- http://docs.ros.org/en/kinetic/api/robot_localization/html/integrating_gps.html -->
    <!-- https://www.ros.org/reps/rep-0105.html -->

    <node pkg="geonav_transform" type="geonav_transform_node" name="gt_to_local" required="true">
        <param name="pub_odom" value="/ublox/fix/local"/>
        <param name="pub_utm" value="/ublox/fix/utm"/>
        <param name="sub_fix" value="/ublox/fix"/>
        <param name="odom_frame_id" value="map"/>
    </node>

</launch>