<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="orientation_estimation"
          output="screen" required="true">
        <param name="publish_tf" value="false"/>

        <param name="world_frame" value="ned"/>
        <param name="remove_gravity_vector" value="false"/>
        <param name="use_magnetic_field_msg" value="true"/>

        <remap from="/imu/mag" to="/mag/data"/>
        <remap from="/imu/data_raw" to="/camera/imu"/>
    </node>
</launch>
