<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="orientation_Estimation" output="screen" required="true">
        <param name="use_mag" value="false"/>
        <param name="publish_tf" value="false"/>

        <remap from="/imu/data_raw" to="/camera/imu"/>
    </node>
</launch>
