<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <node pkg="visiondrone" type="pi_camera.sh" name="picamera_params"/>

    <node type="usb_cam_node" pkg="usb_cam" name="pi_camera" output="screen" required="true"
          launch-prefix="bash -c 'sleep 2; $0 $@'">
        <param name="video_device" value="/dev/video6"/>
        <param name="image_width" value="640"/>
        <param name="image_height" value="480"/>
        <param name="pixel_format" value="yuyv" />
        <param name="framerate" value="45"/>
        <param name="focus" value="0"/>
        <param name="camera_frame_id" value="orthogonal_camera"/>

        <param name="camera_info_url" value="package://visiondrone/camera_info/camerav2_1280x720.yaml"/>
        <param name="camera_name" value="camerav2_1280x720"/>
    </node>

    <node type="color2gray" pkg="visiondrone" name="pi_camera_grayer" output="screen" required="true">
        <param name="in" value="/pi_camera/image_raw"/>
        <param name="out" value="/camera/orthogonal"/>
    </node>
</launch>
