<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- GPS MODULE -->
    <node pkg="ublox_gps" type="ublox_gps" name="ublox" output="screen" clear_params="false" required="true">
        <param name="device" type="string" value="/dev/ttyAMA4"/>
        <rosparam command="load" file="$(find gps_injection)/config/gps_config.yaml"/>
    </node>

    <!-- MPU9050 9DOF -->
    <node pkg="imu_drivers" type="imu9dof_driver_node" name="imu_node" output="screen" clear_params="false"
          required="true"/>

    <!-- BMP280 BARO -->
    <node pkg="imu_drivers" type="baro_driver_node" name="baro_node" output="screen" clear_params="false"
          required="true"/>

    <!-- MAXSONAR EZ0 SONAR -->
    <node pkg="max_sonar_driver" type="sonar_node" name="sonar_node" output="screen" clear_params="false"
          required="true"/>

    <!-- MAVLINK (FC SENSORS) -->
    <include file="$(find visiondrone)/launch/subsystems/mavros.launch">
        <arg name="pluginlists_yaml" value="$(find visiondrone)/launch/subsystems/apm_pluginlists.yaml"/>
        <arg name="config_yaml" value="$(find visiondrone)/launch/subsystems/apm_config.yaml"/>

        <arg name="fcu_url" value="/dev/ttyAMA1:57600"/>
        <arg name="gcs_url" value=""/>
        <arg name="tgt_system" value="1"/>
        <arg name="tgt_component" value="1"/>
        <arg name="log_output" value="screen"/>
        <arg name="fcu_protocol" value="v1.0"/>
    </include>

    <node pkg="rosservice" type="rosservice" name="mavros_stream_rate" args="call /mavros/set_stream_rate 0 10 1"
          launch-prefix="bash -c 'sleep 6; $0 $@'"/>
</launch>
