<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- PLAY ROSBAG -->
    <node pkg="rosbag" type="play" name="data_loader" args="/home/pylo/Desktop/flow01.bag"/>

    <!-- Drone TFs -->
    <include file="$(find visiondrone)/launch/processing/tf.launch"/>

    <!-- Height estimation -->
    <node pkg="height_estimation" type="height_estimation_node" name="height_estimation" output="screen"
          required="true">
        <param name="relative" value="true"/>
    </node>

    <!-- Orientation estimation -->
    <include file="$(find visiondrone)/launch/processing/orientation_estimation.launch"/>

    <!-- Optical flow (image to velocity) -->
    <node name="optic_flow" pkg="nodelet" type="nodelet" args="standalone mrs_optic_flow/OpticFlow" output="screen">
        <rosparam file="$(find optical_flow)/config/default.yaml"/>

        <param name="enable_profiler" value="false"/>

        <param name="camera_frame" value="orthogonal_camera"/>
        <param name="uav_frame" value="camera_imu_optical_frame"/>

        <param name="FftCLFile" value="$(find optical_flow)/FftMethod.cl"/>
        <param name="useOCL" value="false"/>
    </node>

    <!-- Velocity to position -->
    <node pkg="optical_flow" type="velocity_integrator_node" name="optical_flow" required="true"/>

    <!-- MAP GPS LOCATION TO LOCAL -->
    <node pkg="geonav_transform" type="geonav_transform_node" name="gt_to_local" required="true">
        <param name="pub_odom" value="/ublox/fix/local"/>
        <param name="pub_utm" value="/ublox/fix/utm"/>
        <param name="sub_fix" value="/ublox/fix_tracking"/>
        <param name="odom_frame_id" value="map"/>
    </node>

    <!-- Path display -->
    <node type="pose2path.py" name="path_estimate_gen" pkg="visiondrone">
        <param name="pose" value="/orbslam3/pose"/>
        <param name="path" value="/orbslam3/path"/>
    </node>
    <node type="pose2path.py" name="path_gps_gen" pkg="visiondrone">
        <param name="pose" value="/ublox/fix/local"/>
        <param name="path" value="/ublox/fix/path"/>
    </node>

    <!-- Pose to matlab -->
    <node type="pose2matlab.py" name="gps_pose_slam" pkg="visiondrone">
        <param name="pose" value="/orbslam3/pose"/>
        <param name="outfile" value="pose_slam.mat"/>
    </node>
    <node type="pose2matlab.py" name="gps_pose_mat" pkg="visiondrone">
        <param name="pose" value="/ublox/fix/local"/>
        <param name="outfile" value="pose_gps.mat"/>
    </node>

    <!-- Quadcopter model -->
    <param name="robot_description" textfile="$(find visiondrone)/rviz/drone.urdf"/>

    <!-- Open RVIZ to show results -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find visiondrone)/rviz/orbslam.rviz" required="true"/>

</launch>
